<html>
    <head>
        <title>Weather</title>
        
    </head>
    <body>
             {{>header}}
            <p>
                Use this site to get your Weather!
            </p>
    </body>
</html><html>
    <head>
        <title>Weather</title>
        

    </head>
    <body>
     
     {{>header}}
      <h1>Thsi is my</h1>
        
    </body>
</html>